.this-weather {
    @include flex-column;
    @include container;
    width: 50vw;
    border-radius: 1rem;
    color: rgb(33, 33, 33);
    text-decoration: none;
    margin: 3rem;

    &:hover {
        background-color: rgba(220, 226, 232, 0.418);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.34);
    }

    .main-info {
        @include flex-row;
        width: 100%;
        margin: 1rem;
        justify-content: space-around;

        .location-date {
            @include flex-column;


            h2 {
                @include font-regular;
                margin: 0rem;
                font-size: 2rem;

            }

            h3 {
                @include font-light;
                /* font-style: italic; */
                margin: 0;
                font-size: 0.8rem
            }

        }

        .main-temp {
            #current-temp {
                @include font-light;
                font-size: 4rem;
                margin: 0rem;
                text-align: center;
            }
        }
    }

    .extra-info {
        @include flex-row;
        width: 100%;

        .column {
            width: 100%;
            margin: 1rem;

            .data-row {
                @include flex-row;
                justify-content: space-between;

                .description {
                    @include font-light;
                    font-size: 0.8rem;
                    margin: 0.5rem;
                }

                .data {
                    @include font-regular;
                    font-size: 0.8rem;
                }
            }

            hr {
                margin: 0rem;
            }
        }
    }
}