@mixin desktop {
    @media (min-width: 770px) {
        @content;
    }
}

@mixin flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

@mixin button {
    background-color: rgba(240, 248, 255, 0.418);
    font-size: 1rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;

    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
    text-decoration: none;

    &:hover {
        background-color: rgba(240, 248, 255, 0.758);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.417);

    }

    &:active {
        background-color: rgba(240, 248, 255, 0.758);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.474);
    }
}

@mixin container {
    background-color: rgba(240, 248, 255, 0.418);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
    border-radius: 0.5rem;
    border: none;
}

@mixin font-thin {
    font-family: $font-base;
    font-weight: $font-thin;
}

@mixin font-light {
    font-family: $font-base;
    font-weight: $font-light;
}

@mixin font-regular {
    font-family: $font-base;
    font-weight: $font-regular;
}

@mixin font-bold {
    font-family: $font-base;
    font-weight: $font-bold;
}