.world-weather-container {
    width: 80vw;
    @include flex-row;

    flex-wrap: wrap;

    @include desktop {
        @include flex-row;
        flex-wrap: nowrap
    }

    .world-weather-card {
        @include flex-column;
        @include container;
        width: 25vw;
        height: 25vh;
        margin: 0.5rem;
        padding: 1rem;

        @include desktop {
            width: 10vw;

        }



        .weather-details-link {
            @include flex-column;
            text-decoration: none;
            width: 100%;
            height: 100%;
            color: rgb(33, 33, 33);


            h2 {
                font-size: 1rem;

                @include desktop {
                    @include font-bold;
                    margin: 0;
                }
            }

            h3 {
                @include font-light;
                margin: 0;
                font-size: 1rem;
            }

            img {
                background-color: rgba(109, 109, 109, 0.24);
                border-radius: 1rem;
            }

            p {
                @include font-light;
                margin: 0;
                font-size: 0.5rem;
            }
        }
    }
}