@import "_variables";
@import "mixins";
@import "search";
@import "forecast";
@import "currentWeather";
@import "header";
@import "worldWeather";

body {
  margin: 0;
  display: flex;

  justify-content: center;
  /*  background-image: linear-gradient(140deg, rgb(35, 214, 148),
      rgb(35, 190, 214)); */
  background-image: url("../images/Cloud-background-HD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: rgb(33, 33, 33);
  font-family: 'Poppins', sans-serif;

  #root {
    width: 100%;

    .main-content {
      @include flex-column;
    }
  }
}