form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 1rem;
}
form input {
  background-color: rgba(240, 248, 255, 0.418);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  width: 30vw;
  margin: 0.5rem;
  outline: none;
}
form input:hover {
  background-color: rgba(240, 248, 255, 0.758);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.417);
}
form input:focus {
  background-color: rgba(240, 248, 255, 0.758);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.474);
}
form button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
form button .material-symbols-outlined {
  background-color: rgba(240, 248, 255, 0.418);
  font-size: 1rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  text-decoration: none;
}
form button .material-symbols-outlined:hover {
  background-color: rgba(240, 248, 255, 0.758);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.417);
}
form button .material-symbols-outlined:active {
  background-color: rgba(211, 218, 225, 0.758);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.474);
}

.toggle-button button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: rgba(240, 248, 255, 0.418);
  font-size: 1rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  text-decoration: none;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.toggle-button button:hover {
  background-color: rgba(240, 248, 255, 0.758);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.417);
}
.toggle-button button:active {
  background-color: rgba(211, 218, 225, 0.758);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.474);
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.418);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  border-radius: 0.5rem;
  border: none;
  margin: 3rem;
  padding: 1rem;
  width: 80vw;
}
@media (min-width: 770px) {
  .forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.418);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
    border-radius: 0.5rem;
    border: none;
    margin: 3rem;
    padding: 1rem;
    width: 80vw;
    height: 60vh;
  }
}
.forecast h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.forecast .forecast-preview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
}
@media (min-width: 770px) {
  .forecast .forecast-preview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
    height: 80%;
  }
}
.forecast .forecast-preview .forecast-card {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.418);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  border-radius: 0.5rem;
  border: none;
  margin-top: 1rem;
}
@media (min-width: 770px) {
  .forecast .forecast-preview .forecast-card {
    width: 15vw;
    height: 100%;
    margin: 0.5rem;
  }
}
.forecast .forecast-preview .forecast-card .weather-details-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: rgb(33, 33, 33);
  justify-content: flex-start;
}
.forecast .forecast-preview .forecast-card .weather-details-link h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.forecast .forecast-preview .forecast-card .weather-details-link h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}
.forecast .forecast-preview .forecast-card .weather-details-link .forecast-descriptions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.forecast .forecast-preview .forecast-card .weather-details-link .forecast-descriptions h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  margin: 0;
  text-decoration: underline;
  width: 2rem;
}
@media (min-width: 770px) {
  .forecast .forecast-preview .forecast-card .weather-details-link .forecast-descriptions h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    margin: 0;
    text-decoration: underline;
    width: 2rem;
  }
}
.forecast .forecast-preview .forecast-card .weather-details-link .forecast-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  height: 1.2rem;
  color: rgb(33, 33, 33);
  margin: 0.2rem;
}
.forecast .forecast-preview .forecast-card .weather-details-link .forecast-info p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  margin: 0;
  text-align: center;
  width: 2rem;
}
.forecast .forecast-preview .forecast-card .weather-details-link .forecast-info img {
  background-color: rgba(109, 109, 109, 0.24);
  border-radius: 0.5rem;
  width: 1.5rem;
  padding: 0rem;
}

.this-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.418);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  border-radius: 0.5rem;
  border: none;
  width: 85vw;
  border-radius: 1rem;
  color: rgb(33, 33, 33);
  text-decoration: none;
  margin: 3rem;
}
@media (min-width: 770px) {
  .this-weather {
    width: 50vw;
  }
}
.this-weather .main-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
  justify-content: space-around;
}
.this-weather .main-info .location-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.this-weather .main-info .location-date h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0rem;
  font-size: 1rem;
}
@media (min-width: 770px) {
  .this-weather .main-info .location-date h2 {
    font-size: 2rem;
  }
}
.this-weather .main-info .location-date h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* font-style: italic; */
  margin: 0;
  font-size: 0.8rem;
}
.this-weather .main-info .main-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.this-weather .main-info .main-temp img {
  background-color: rgba(109, 109, 109, 0.24);
  border-radius: 1rem;
}
.this-weather .main-info .main-temp #current-temp {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0rem;
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 770px) {
  .this-weather .main-info .main-temp #current-temp {
    font-size: 4rem;
  }
}
.this-weather .main-info .main-temp .max-min-temp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.this-weather .main-info .main-temp .max-min-temp p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 1rem;
  font-size: 0.8rem;
}
.this-weather .extra-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
.this-weather .extra-info .column {
  width: 100%;
  margin: 1rem;
}
.this-weather .extra-info .column .data-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  justify-content: space-between;
}
.this-weather .extra-info .column .data-row .description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  margin: 0.5rem;
}
@media (min-width: 770px) {
  .this-weather .extra-info .column .data-row .description {
    font-size: 0.8rem;
  }
}
.this-weather .extra-info .column .data-row .data {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
}
@media (min-width: 770px) {
  .this-weather .extra-info .column .data-row .data {
    font-size: 0.8rem;
  }
}
.this-weather .extra-info .column hr {
  margin: 0rem;
  border: 1px solid rgb(0, 0, 0);
}
.this-weather .forecast-section .forecast-current-day-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.this-weather .forecast-section .forecast-current-day-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  text-decoration: underline;
}
.this-weather .forecast-section .forecast-current-day-card .forecast-current-day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.this-weather .forecast-section .forecast-current-day-card .forecast-current-day table {
  margin: 0rem 1rem 1rem 1rem;
}
.this-weather .forecast-section .forecast-current-day-card .forecast-current-day table thead tr th {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-decoration: underline;
}
.this-weather .forecast-section .forecast-current-day-card .forecast-current-day table tbody tr td {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}
.this-weather .forecast-section .forecast-current-day-card .forecast-current-day table tbody tr td img {
  background-color: rgba(109, 109, 109, 0.24);
  border-radius: 0.6rem;
  width: 1.8rem;
}
.this-weather .forecast-section .forecast-current-day-card .forecast-current-day table tbody tr td hr {
  border: 1px solid rgb(0, 0, 0);
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 1rem;
  top: 0;
}
nav .logo a {
  display: none;
}
@media (min-width: 770px) {
  nav .logo a {
    display: flex;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.417);
    font-size: 2rem;
    color: white;
  }
  nav .logo a:hover {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.667);
  }
  nav .logo a img {
    width: 3rem;
  }
}
nav .menu {
  display: none;
}
@media (min-width: 770px) {
  nav .menu {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  nav .menu .menu-link {
    color: rgb(33, 33, 33);
    text-decoration: none;
    margin: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 1rem;
    background-image: linear-gradient(rgba(180, 232, 241, 0.5), rgba(180, 232, 241, 0.5));
    background-repeat: no-repeat;
    transition: background-size 0.3s, 0.3s;
    background-size: 0% 110%;
    background-position: 0% 50%;
  }
  nav .menu .menu-link:hover {
    color: rgb(59, 58, 58);
    background-size: 100% 100%;
  }
}

.world-weather-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 770px) {
  .world-weather-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.world-weather-container .world-weather-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.418);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.233);
  border-radius: 0.5rem;
  border: none;
  width: 25vw;
  height: 25vh;
  margin: 0.5rem;
  padding: 1rem;
}
@media (min-width: 770px) {
  .world-weather-container .world-weather-card {
    width: 10vw;
  }
}
.world-weather-container .world-weather-card .weather-details-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: rgb(33, 33, 33);
}
.world-weather-container .world-weather-card .weather-details-link h2 {
  font-size: 1rem;
}
@media (min-width: 770px) {
  .world-weather-container .world-weather-card .weather-details-link h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    margin: 0;
  }
}
.world-weather-container .world-weather-card .weather-details-link h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1rem;
}
.world-weather-container .world-weather-card .weather-details-link img {
  background-color: rgba(109, 109, 109, 0.24);
  border-radius: 1rem;
}
.world-weather-container .world-weather-card .weather-details-link p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 0.5rem;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /*  background-image: linear-gradient(140deg, rgb(35, 214, 148),
      rgb(35, 190, 214)); */
  background-image: url("../images/Cloud-background-HD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: rgb(33, 33, 33);
  font-family: "Poppins", sans-serif;
}
body #root {
  width: 100%;
}
body #root .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}/*# sourceMappingURL=App.css.map */